body {
  height: 100%;
  text-align: center;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h1 {
    font-size: 2.5em;
}

section {
    display: block;
}

ol {
    list-style: none;
}

ul {
    list-style: none;
}

/* li.over{display: inline-block; border: 1px solid blue; margin: 5px; padding: 10px; vertical-align: top;} */

.centered { /* center div in the middle of the page */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.container {
    background-color: yellow;
}

.benefits-desc-container {
    width:65%;
    margin: 0 auto;
}

.list-title {
    line-height: 80%;
}

#homepage-desc {
    margin-top: 10px;
    /* font-size: 18px; */
    color:gray;
    font-style: italic;
}

#map-container {
  position: relative;
  height: 680px;
  width:85%;
  margin-top: 20px;
  margin: auto;
}

#map {
  position: relative;
  height: inherit;
  width:100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
